@import "../assets/font/stylesheet.css";

.hero {
    padding: 120px 0 80px;
}

.hero-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
}

.hero-left {
    max-width: 420px;
}

.hero-title {
    font-size: 56px;
    font-weight: 500;
    margin-bottom: 20px;
}

.hero-text {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.6;
    color: #606060;
    margin-bottom: 40px;
}

.hero-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 70%;
}

.btn-primary {
    padding: 20px 32px;
    border-radius: 30px;
    background: #2D7AFF;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.btn-secondary {
    padding: 20px 32px;
    border-radius: 30px;
    background: #2D7AFF1A;
    color: #2D7AFF;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.hero-gradient {
    position: relative;
    width: 488px;
    height: 444px;
    border-radius: 40px;
    
    background: linear-gradient(
        180deg,
        #EA8AFF 0%,
        #789AFF 100%
    );
    box-shadow: 0px 3.38511px 11.6786px rgba(67, 122, 220, 0.25);
    display: flex;
    align-items: self-end;
    justify-content: center;
}


.hero-phone {
    width: 300px;
    position: absolute;
}

@media (max-width: 764px) {
    .hero {
    padding: 35px 0 20px;
}

    .hero-gradient {
    position: relative;
    width: 360px;
        height: 444px;
    }
    .hero-wrapper {
        flex-direction: column;
        text-align: center;
            gap: 0px;
    }

    .hero-title {
    font-size: 56px;
    font-weight: 500;
    margin: 20px;
}
    .hero-right {
        order: 1;
    }

    .hero-left {
        order: 2;
    }

    .hero-buttons {
        width: 100%;
        
    }
}
