@import "../assets/font/stylesheet.css";



.Questions{
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 22px;
  margin-top: 14px;    
}

.Questions-container {
  max-width: 541px;
  padding: 30px 16px;
  margin: 0 auto;
}

.section-Questions-title {
  color: #0E0E0E;
  text-align: center;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 50px;
  margin: 0 10px;
    padding-top: 50px;
    padding-bottom: 10px;
}

.Questions-group input,
.Questions-group textarea {
  width: 100%;
  box-sizing: border-box;
  background: #FFFFFF;
  color: #333333;
  padding: 18px 20px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  border: 0.678064px solid #CCCCCC;
  border-radius: 16px;
}

.Questions-group textarea {
  height: 140px;
  resize: none;
}


.Questions-group input::placeholder,
.Questions-group textarea::placeholder {
width: 311px;
height: 21px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 150%;
letter-spacing: -0.04em;
color: rgba(37, 44, 82, 0.5);
flex: none;
order: 0;
flex-grow: 1;

}

.Questions-group button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 219px;
  height: 52px;
  padding: 17px;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0.5px;
  text-align: center;
  border-radius: 39px;
  background: #2D7AFF;
  margin: 20px auto;
}


@media (max-width: 450px){
        .section-subtitle{
        width: 100%;
            
    }

    .footer-links{
        gap: 40px;
    }
    
    .Questions-group button{
        width: 86%;
        height: 52px;
    }
    .Questions-container{
        padding: 0px 5px 5px;
    } 
    
}